section {
  margin: 2.8rem 0;
}

section h1 {
  text-align: center;
  font-size: 2.5rem;
  color: #ffffff;
}

section h2 {
  margin-bottom: 2.8rem;

  font-size: 1.5rem;
  color: #e5e5e5;
}

section .showButtons {
  margin-bottom: 2.8rem;
  padding: 0.6rem 1rem;
  width: 7rem;

  font-size: 1rem;
  font-weight: 600;
  color: #14213d;

  background-color: #fca311;
  border: none;
  border-radius: 1rem;

  transition: filter 0.2s ease-in-out;
}

section .showButtons:hover {
  cursor: pointer;
  filter: brightness(0.9);
}

div.toDos {
  display: flex;
  flex-direction: column;
  align-items: center;
}

form.addTodo{
  width: 55%;
}

form.addTodo button {
  padding: 0.6rem 1rem;
  width: 7rem;

  font-size: 1rem;
  font-weight: 600;
  color: #14213d;

  background-color: #fca311;
  border: none;
  border-radius: 1rem;

  transition: filter 0.2s ease-in-out;
}

form.addTodo button:hover{
  cursor: pointer;
  filter: brightness(0.9);
}

form.addTodo input {
  width: 81%;
  margin-top: 0.4rem;
  margin-right: 0.5rem;
  padding: 0.6rem 1rem;
  border-radius: 1rem;
  border: none;
}